<br>
<div class="card card-block" style="background-color: #E5FFFF; border-color: #333">
  <h4 class="card-title">
    <%= image_tag @user.profile_image_url %>
    <span><strong>@<%= link_to @user.screen_name, "https://twitter.com/#{@user.screen_name}" %></strong></span>
</div>
<p blockquote class="card-blockquote" style="border-color: #333;">
  <h5>
    <ul>
      <span style="padding: 20px">Tweets: <%= @user.tweets_count %></span>
      <span style="padding: 20px">Following: <%= @user.friends_count %></span>
      <span style="padding: 20px">Followers: <%= @user.followers_count %></span>
    </ul>
    <ul>
      <span style="padding: 20px">Description: <%= @user.description %></span>
      <span style="padding: 20px">Location: <%= @user.location %></span>
    </ul>
  </h5>
</p>